  .body1 {
      background-color:#fff;
      margin: inherit;
        font-family: Impact, fantasy;

    }
    .body2 {
      width: 120vw;
      height: 50vh;
      background-color:#EEEFF1;

    }


    header {
      background-color: #000;
      width: 99%;
      height: 10vh;
      margin-bottom: 5px;
      box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .5);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      color: #fff;
      font-size: 3vw;
      text-align: left;
      padding-left: 1vw;

    }
    .iframe{
      width:99vw;
      height:76vh;
    }
    .footer {
      width: 100vw;
      height:13vh;
      background-color: #000;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .5);
    }
    iframe {
      width:99vw;
      height:75vh;
      border-radius: 1vw;
    }


      table {
        width: 150%;
        font-size: 1.5vw;
        text-align: center;
        border-radius: 1vw;
      }

      .td2 {
        width: 12%;


      }
      td {
        width: 2%;

      }
      #name {
        text-align: left;
      }


      input{
          background-color: #fff;
          background:#fff;
          color:#000;
          border:none;
          position: fixed;
          height:11vh;
          font-size:2vw;
          width: 15vw;
          cursor:pointer;
          outline:none;
          left: 80vw;
          top: 88vh;
          text-decoration: none;
          text-align: center;
          border-radius: 1vw;
          font-family: Impact, fantasy;
          padding: 0;
          margin: 0;
        }

        button{
            background:none;
            color:#fff;
            border:none;
            position: fixed;
            height:10vh;
            font-size:2vw;
            width: 10vw;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
            left: 88vw;
            top: 0vh;
            text-decoration: none;
            text-align: center;
            border-radius: 1vw;
            	font-family: "algerian"
          }
        button:hover{
            background:#fff;
            color:#000;
          }
 .obn {
   background:#fff;
   color:#000;
   border:none;
   position: fixed;
   height:11vh;
   font-size:2vw;
   width: 15vw;
   outline:none;
   left: 5vw;
   top: 88vh;
   text-decoration: none;
   text-align: center;
   border-radius: 1vw;
 }
 .back {
   width: 90vw;
   height: 90vh;
   background-color: black;
   margin-left: 6vw
 }
 img {
   width: 90vw;
   height:90vh;

 }
 .info {
   margin-top: 10%;
   font-family: Magneto;
   font-size: 300%;
   color: white;
 }
 .sup {
   background-color: black;
   width: 100%;
   height: 600px
 }

@media only screen and (max-width:980px) {
  .body1 {
      background-color:#000;
      margin: inherit;

    }
    .body2 {
      width: 120vw;
      height: 50vh;
      background-color:#EEEFF1;

    }


    header {
      background-color: #000;
      width: 95vw;
      height: 5vh;
      margin-bottom: 5px;
      box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .5);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      color: #fff;
      font-size: 4vw;
      text-align: left;
      padding-left: 5vw;

    }
    .footer {
      width: 100vw;
      height:10vh;
      background-color: #000;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .5);
    }
    iframe {
      width:100%;
      height:78vh;
    }


      table {
        width: 200vw;
        height: 99vh;
        font-size: 1.7vw;
        text-align: center;
        border-radius: 1vw;
      }

      .td2 {
        width: 12%;

      }
      td {
        width: 2%;
      }


      input{
          background:#fff;
          color:#000;
          border:none;
          position: fixed;
          height:9vh;
          font-size:4vw;
          width: 45vw;
          cursor:pointer;
          outline:none;
          left: 51vw;
          top: 84vh;
          text-decoration: none;
          text-align: center;
          border-radius: 1vw;
          padding: 0;
          margin: 0;
        }

        button{
            background:#fff;
            color:#000;
            border:none;
            position: fixed;
            height:5vh;
            font-size:4vw;
            width: 15vw;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
            left: 80vw;
            top: 0vh;
            text-decoration: none;
            text-align: center;
            border-radius: 1vw;
          }
        button:hover{
            background:#fff;
            color:#000;
          }
 .obn {
   background:#fff;
   color:#000;
   border:none;
   position: fixed;
   height:7vh;
   font-size:4vw;
   width: 45vw;
   transition:800ms ease all;
   outline:none;
   left: 2vw;
   top: 84vh;
   text-decoration: none;
   text-align: center;
   border-radius: 1vw;
   padding-top: 4vw;

 }
 .back {
   width: 100vw;
   height: 90vh;

 }
 img {
   margin-top: 30vh;
   width: 100vw;
   height:30vh;
 }
 .info {
   margin-top: 10%;
   font-family: Magneto;
   font-size: 300%;
   color: white;
 }
 .sup {
   background-color: black;
   width: 100%;
   height: 600px
 }

}
